<table class="table">
    <thead>
        <tr>
            <th scope="col">Table number</th>
            <th scope="col">Reservation code</th>
            <th scope="col">Customer name</th>
            <th scope="col">Number of people</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Special Requests</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td scop="row">{{reservation.table_number}}</td>
            <td>{{reservation.reservation_code}}</td>
            <td>{{reservation.customer_name}}</td>
            <td>{{reservation.number_of_people}}</td>
            <td>{{reservation.reservation_start_time}}</td>
            <td>{{reservation.reservation_end_time}}</td>
            <td>{{reservation.special_requests}}</td>
            <td>
                {% if can_change_status %}
                <input type="hidden" name="reservation_id" value="{{reservation.id}}">
                <form action="url_for('reservations')" method="POST">
                    <select class="form-select">
                        {% for status in ["pending","confirmed","cancelled"] %}
                        <option {% if reservation.status == status %}selected{% endif %} value="{{status}}" onchange="this.form.submit()">{{status}}</option>
                        {% endfor %}
                    </select>
                </form>
                {% else %}
                {{reservation.status}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>