{% extends "base.html" %}
{% block content %}
<h1>Edit restaurant details:</h1>

<div class="row">
    <form id="descriptionForm">
        <div class="row form-group">
            <label for="description" class="h3">Description:</label>
            <textarea type="text" id="description" name="description" rows="5" maxlength="256" class="form-control" required>{{restaurant.description}}</textarea>
        </div>
        <div class="d-flex row">
            <div class="p-2"><button type="submit" class="btn btn-primary">Save</button></div>
        </div>
    </form>
</div>

<div class="row mt-3">
    <div class="col">
        <h3>Add pictures</h3>
        <form id="uploadForm">
            <div class="row">
                <label for="file" class="form-label">Select pictures :</label>
            </div>
            <div class="d-flex flex-row gap-3">
                <div class="p-2">
                    <input type="file" id="file" name="file" accept="image/*" class="form-control-file" required multiple>
                </div>
                <div class="p-2 pt-1">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <h3>Add working hours</h3>
        <form id="scheduleForm">

            <div class="row mt-3">

                <div class="col form-group">
                    <label for="day" class="form-label">Day:</label>
                    <select id="day" name="day" class="form-select" value="monday" required>
                        {% for day in ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"] %}
                        <option value="{{day}}">{{day}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col form-group">
                    <label for="start" class="form-label">Opening hour:</label>
                    <input type="time" id="start" name="start" class="form-control" required>
                </div>

                <div class="col form-group">
                    <label for="end" class="form-label">Closing hour:</label>
                    <input type="time" id="end" name="end" class="form-control" required>
                    <br>
                </div>

                <div class="d-flex flex-column col justify-content-center">
                    <div class="p-2 pt-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<h1 class="mt-5 mx-2 mb-0">Registered Tables:</h1>
<div class="list-container">
    <ul class="list-group mx-2" id="tables_list">
        <li class="list-group-item" style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            ">
            <b>Table number</b>
            <b>Number of seats</b>
            <b>Table type</b>
        </li>
        {% for table in tables %}
        <li class="list-group-item" style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            ">
            <div>{{table.table_number}}</div>
            <div>{{table.number_of_seats}}</div>
            <div>{{table.table_type}}</div>
        </li>
        {% endfor %}
    </ul>
</div>
<form id="table_form">
    <div class="mx-2 row justify-content-between">
        <div class="col">
            <input type="text" id="table_number" class="form-control w-25" aria-describedby="insert table number"
                placeholder="Table Number" />
        </div>

        <div class="col d-flex justify-content-center">
            <input type="number" id="number_of_seats" class="form-control w-25 mx-5"
                aria-describedby="insert number of seats" placeholder="Number of Seats" />
        </div>
        <div class="col">
            <div class="d-flex justify-content-end align-items-center">
                <select type="text" id="table_type" class="form-select" aria-describedby="insert table type"
                    placeholder="Table Type">
                    <option value="indoor">indoor</option>
                    <option value="outdoor">outdoor</option>
                </select>

                <button class="btn btn-primary h-100 w-125" type="submit">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    document
        .getElementById("table_form")
        .addEventListener("submit", async function (event) {
            event.preventDefault();

            const tableNumber = document.getElementById("table_number").value;
            const numberOfSeats = document.getElementById("number_of_seats").value;
            const tableType = document.getElementById("table_type").value;

            const restaurantIdInput = document.getElementById('restaurant_id');
            const pathArray = window.location.pathname.split('/');
            const restaurantId = pathArray[pathArray.length - 1]; // récupère le dernier élément du chemin

            // Prepare data for POST request
            const data = {
                table_number: tableNumber,
                number_of_seats: numberOfSeats,
                table_type: tableType,
            };


            // Send POST request
            const response = await fetch(`/api/v1/restaurant/${restaurantId}/tables`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
            if (!response.ok) {
                const al = document.getElementById("error_alert");
                al.innerHTML = await response.text();
                al.style.display = "block";
            } else {
                this.reset();
                location.reload();
            }
        });
</script>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData();
        const fileInput = document.getElementById('file');
        const pathArray = window.location.pathname.split('/');
        const restaurantId = pathArray[pathArray.length - 1]; // Récupère le dernier élément du chemin

        if (fileInput.files.length === 0) {
            alert('Please select at least one picture to upload.');
            return;
        }

        // Ajouter chaque fichier à formData
        for (let i = 0; i < fileInput.files.length; i++) {
            formData.append('files[]', fileInput.files[i]); // 'files[]' pour indiquer un tableau de fichiers
        }

        formData.append('restaurant_id', restaurantId);

        fetch(`/api/v1/upload/upload_picture/${restaurantId}`, {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.status);
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('response').innerText = 'Images successfully uploaded!';
            })
            .catch(error => {
                document.getElementById('response').innerText = 'Error: ' + error.message;
            });
    });

</script>

<script>
    document.getElementById('descriptionForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData();
        const descriptionInput = document.getElementById('description');
        const restaurantIdInput = document.getElementById('restaurant_id');

        const pathArray = window.location.pathname.split('/');
        const restaurantId = pathArray[pathArray.length - 1]; // récupère le dernier élément du chemin



        if (isNaN(restaurantId)) {
            alert("Veuillez entrer un nombre valide pour le Restaurant ID.");
            event.preventDefault();
        }
        formData.append('description', descriptionInput.value);
        formData.append('restaurant_id', restaurantId);

        fetch(`/api/v1/upload/upload_description/${restaurantId}`, {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.status);
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('response').innerText = 'Description successfully modified';
            })
            .catch(error => {
                document.getElementById('response').innerText = 'Error : ' + error.message;
            });
    });
</script>

<script>
    document.getElementById('scheduleForm').onsubmit = function (event) {
        event.preventDefault();

        const pathArray = window.location.pathname.split('/');
        const restaurantId = pathArray[pathArray.length - 1]; // récupère le dernier élément du chemin
        console.log(restaurantId);

        const dayInput = document.getElementById('day');
        const startInput = document.getElementById('start');
        const endInput = document.getElementById('end');

        const formData = new FormData();
        formData.append('day', dayInput.value);
        formData.append('start', startInput.value);
        formData.append('end', endInput.value);

        console.log("Data sent");

        fetch(`/api/v1/upload/upload_working_hours/${restaurantId}`, {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.status);
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('response').innerText = 'Working hours successfully set';
                console.log("Success")
            })
            .catch(error => {
                document.getElementById('response').innerText = 'Error : ' + error.message;
                console.log('Error : ' + error.message)
            });
    };
</script>
{% endblock %}
</body>

</html>